// ==========================================================================
//
// Typography
// 

body {
  font-size: $base--font-size;
  line-height: $base--line-height;
}

p {
  font-family: $font--base;
  padding: 0 0 1.5em;
  margin: 0;
}

h1, h2, h3 {
  font-family: $font--base;
  margin: 0;
  padding: 0;
}

h1 {
  text-transform: uppercase;
  margin-bottom: 15px;
  line-height: 1;
}

ul, ol {
  font-family: $font--base;
  margin: 0 0 1.5em;;
  padding: 0;
  list-style-type: none;
}

h2{
  font-size: 30px;
  // padding-left: 20px;
  // padding-right: 20px;
   padding-bottom: 0.5em;


  @media screen and (min-width: 550px) {
    font-size: 50px;
     padding-bottom: 1em;
  }

  @media screen and (min-width: 800px) {
    font-size: 70px;
  }

  @media screen and (min-width: 1400px) {
    font-size: 80px;
  }
  line-height: 100%;
}
h3{
  font-size: 16px;

  @media screen and (min-width: 550px) {
    font-size: 20px;
  }

  @media screen and (min-width: 800px) {
    font-size: 25px;
  }

  @media screen and (min-width: 1400px) {
    font-size: 30px;
  }

  line-height: 100%;
}

h4{

  padding-left: 40px;
  padding-right: 40px;
  font-size: 14px;
  line-height: 120%;

}

.btn{
  background: $alt-background;
  width: 100%;
  max-width: 300px;
  line-height: 40px;
  text-align: center;
  height: 40px;
  display: inline-block;
  margin-bottom: 1em;

  text-decoration: none;
  color: $color--text;

  &:visited, &:focus{
    color: $color--text;
    background: $alt-background;
    text-decoration: none;
  }

  &:active{
    background: darken($alt-background, 10%);
  }

}